* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//  COLORES

$colorGryffindor: #5e2120;
$colorSlytherin: #1b4e3d;
$colorRavenclaw: #1f3149;
$colorHufflepuff: #845f18;
$colorGolden: #dbac5b;

// FUENTES
$font-main: 'Bree Serif', serif;

.main {
  font-family: $font-main;
}
