* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//  COLORES

// $background_primary: #f5f5f5;
$colorGryffindor: #5e2120;
$colorSlytherin: #1b4e3d;
$colorRavenclaw: #1f3149;
$colorHufflepuff: #845f18;

// FUENTES

// $font_main: 'Open Sans', sans-serif;
// $font_card: 'Montserrat', sans-serif;
