@import './App';
// .detailSection {
//   background-color: $colorGryffindor;
// }

.section-Gryffindor {
  background-color: $colorGryffindor;
}
.section-Slytherin {
  background-color: $colorSlytherin;
}
.section-Ravenclaw {
  background-color: $colorRavenclaw;
}
.section-Hufflepuff {
  background-color: $colorHufflepuff;
}
