@import './App';
.character-item {
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  list-style: none;
  text-align: center;
  margin: 10px;
  &__img {
    width: 260px;
    height: 361px;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;

    @media all and (min-width: 768px) {
      width: 230px;
      height: 320px;
    }
  }
  &__name {
    font-size: 24px;
  }
  &__species {
    text-transform: capitalize;
    font-size: 18px;
  }
  &__Gryffindor {
    border: 7px solid $colorGryffindor;
  }
  &__Slytherin {
    border: 7px solid $colorSlytherin;
  }
  &__Hufflepuff {
    border: 7px solid $colorHufflepuff;
  }
  &__Ravenclaw {
    border: 7px solid $colorRavenclaw;
  }
  &__ {
    border: 7px solid gray;
  }
}

.character-link {
  text-decoration: none;
  color: black;
}
